<%- include ("partials/header")%>
<%var blog;%>
<div style="margin-top: 70px;">
<div class="ui main text container segment" data-aos="flip-left">
	<div class="ui huge header">
		EDIT BLOG '<%=blog.title%>'
	</div>
	<form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
		<div class="field">
			<input type="text" name="blog[title]" value="<%=blog.title%>" placeholder="title">
		</div>
		<div class="field">
			<input type="text" name="blog[image]" value="<%=blog.image%>" placeholder="image">
		</div>
		<div class="field">
			<textarea name="blog[body]"><%=blog.body%></textarea>
		</div>
		<div >
			<input type="submit" class="ui green button">
		</div>
		
	</form>
</div>
</div>

<%- include ("partials/footer")%>